<!DOCTYPE html>
<html>
    
    <body>
        {{ email_body }}
        <br>
        <br>
        <a href="http://{{ current_domain }}/quickstart/api/answer_request/{{ prescription_id }}/accepted">
            Accept 
        </a> | 
        <a href="http://{{ current_domain }}/quickstart/api/answer_request/{{ prescription_id }}/call necessary">
            Call necessary
        </a> | 
        <a href="http://{{ current_domain }}/quickstart/api/answer_request/{{ prescription_id }}/appointment necessary">
            Appointment necessary
        </a> 
    </body>

</html>